.header {
  align-items: center;
  padding: 10px;
}

.header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.login-btn {
  position: absolute;
  right: 10px;
}

.register-btn {
  position: absolute;
  left: 10px;
}

.modal-close-btn {
  position: absolute;
  right: 10px;
}